.screen {
  background-color: var(--light-grey);
  overflow-x: hidden;
  padding: 10px 15px;
  min-height: 30%;
  display: flex;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}

.screen::before {
  content: 'Клавиша % отвечает за нахождение остатка от деления';
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-size: 14px;
  color: var(--white);
}

.screen__text {
  flex-grow: 1;
  text-align: right;
  font-size: 30px;
  font-weight: 400;
}
